<%= simple_form_for @fixture, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :number %>
  <%= f.input :warranty %>
  <%= f.association :provider %>
  <%= f.input :acquisition, as: :bootstrap_datepicker %>
  <%= f.association :type %>
  <%= f.association :person %>
  <%= f.input :purchaseValue %>

  <div>
    <h5><%= t('activerecord.models.component').pluralize %></h5>
    <%= f.simple_fields_for :component_fixtures, :html => { :class => 'form-horizontal' } do |comp_form| %>
      <%= render 'component_fixture_fields', f: comp_form %>
    <% end %>
    
    <div>
      <%= link_to_add_association t('helpers.links.add'), f, :component_fixtures, :class => "btn btn-mini btn-default" %>
    </div>
  </div>
  <br/>
  
  <%= f.submit class: 'btn btn-primary' %>
  <%= back_button fixtures_path %>
<% end %>
