<%- model_class = Fixture -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:warranty) %></th>
      <th><%= model_class.human_attribute_name(:provider_id) %></th>
      <th><%= model_class.human_attribute_name(:acquisition) %></th>
      <th><%= model_class.human_attribute_name(:type_id) %></th>
      <th><%= model_class.human_attribute_name(:person_id) %></th>
      <th><%= model_class.human_attribute_name(:purchaseValue) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @fixtures.each do |fixture| %>
      <tr>
        <td><%= link_to fixture.number, fixture_path(fixture) %></td>
        <td><%= fixture.warranty %></td>
        <td><%= fixture.provider_id %></td>
        <td><%= fixture.acquisition %></td>
        <td><%= fixture.type_id %></td>
        <td><%= fixture.person_id %></td>
        <td><%= fixture.purchaseValue %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_fixture_path(fixture), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      fixture_path(fixture),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_fixture_path,
            :class => 'btn btn-primary' %>
