<%- model_class = Budget -%>
<div class="page-header">
  <h1 style="font-family: 'Lobster', cursive;"><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= show_for @budget do |b| %>
  <%= b.attributes :description, :value, :fixture, :person, :date %>
<% end %>

<div class="form-actions">
  <%= back_button budgets_path %>
  <%= edit_button edit_budget_path(@budget) %>
  <%= destroy_button fixture_path(@budget) %>
</div>
