<%= form_for @type, :html => { :class => 'form form-horizontal' } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :initial_code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :initial_code, :class => 'text_field' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Componentes</legend>
    <%= render('components_table', :f => f) %>
    <%= link_to_add_fields("Add a Component", f, :components, :class => "btn btn-primary", :title => "Add a new Pilot to the list of Pilots that fly this Ship.") %>
    <p></p>
  </fieldset>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                types_path, :class => 'btn' %>
  </div>
<% end %>
