<nav class = "navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <i class="glyphicon glyphicon-print"></i>
      &nbspCONTROLE DE ATIVOS
    </a>
  </div>
  <ul class="nav navbar-nav pull-right hidden-xs">
    <% if user_signed_in? %>
      <li>
        <p class="navbar-text" id = "login-info">
          <%= image_tag avatar_url(current_user, size: 24), class: 'img-circle' %>&nbsp&nbsp<span><%= current_user.full_name %></span>
        </p>
      </li>
      <li><%= awesome_link 'pencil', t('devise.edit_profile'), edit_user_registration_path, :class => 'navbar-link' %> </li>
      <li><%= awesome_link 'sign-out', t('devise.signout'), destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= awesome_link 'user-plus', t('devise.signup'), new_user_registration_path %></li>
      <li><%= awesome_link 'sign-in', t('devise.login'), new_user_session_path %></li>
    <% end %>
  </ul>
</nav>

<%= render 'layouts/sidebar' %>